# Impact of US primary order

We use state demographic data from NPR and primary order from Wikipedia to .

In [1]:
import numpy as np
import pandas as pd
from StringIO import StringIO
import requests

In [25]:
def fetch_google_sheets_data(key, gid=0):
    url = 'https://docs.google.com/spreadsheets/d/' + key + '/export?gid=' + str(gid) + '&format=csv'
    return pd.read_csv(url)

In [36]:
SPREADSHEET_KEY = '15dueDNXIm5q6B7E21Ez7adQgBC91QANMobSu8Uyq4es'
raw_states = fetch_google_sheets_data(SPREADSHEET_KEY)
raw_primaries = fetch_google_sheets_data(SPREADSHEET_KEY, 213883265)

In [34]:
raw_states.head(5)

,PSI RANK,STATE,DIFFERENCE FROM U.S. RACIAL MAKEUP,SHARE WITH BACHELOR'S DEGREE,MEDIAN AGE,MEDIAN HOUSEHOLD INCOME,SHARE WHO CALL RELIGION “VERY IMPORTANT”
0,0,U.S. overall,0.00,0.29,37.7,"53,482.00",0.53
1,1,Illinois,0.04,0.32,37.5,"57,166.00",0.50
2,2,Kansas,0.31,0.31,36.1,"51,872.00",0.50
3,3,Arizona,0.34,0.27,37.1,"49,928.00",0.51
4,4,Pennsylvania,0.32,0.28,40.7,"53,115.00",0.51

In [37]:
raw_primaries.head()

,Date[95][96],state,Election Type[97],Open or Closed[92][a],Winner,Pledged/ Unpledged/ Total Delegates[98][b],Delegate breakdown,Allocation method,Inclusion threshold,date
0,2/1/2016,Iowa,Caucuses,Closed,Ted Cruz,30 / 0 / 30,12 district\n15 at-large\n3 RNC,Proportional\n(based on statewide vote),none,2016-02-01
1,2/9/2016,New Hampshire,Primary,Mixed,NaN,20 / 3 / 23,6 district\n14 at-large\n3 RNC,Proportional\n(based on statewide vote),10%,2016-02-09
2,2/20/2016,South Carolina,Primary,Open,NaN,47 / 3 / 50,21 district\n26 at-large\n3 RNC,Winner-take-all,NaN,2016-02-20
3,NaN,Washington,Caucuses,Closed,NaN,No Delegates,NaN,Presidential preferences only. All Convention ...,NaN,2016-02-20
4,2/23/2016,Nevada,Caucuses,Closed,NaN,27 / 3 / 30,12 district\n15 at-large\n3 RNC,Proportional\n(based on statewide vote),none,2016-02-23